<div text-center *ngIf="state.username"> 
  <ion-item-group>
      <ion-item text-center>
          <personpicorname [PersonName]="state.username" [PersonPicurl]="state.Usersrc"> </personpicorname>      
      <h2>{{state.username}}</h2>
      </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item (click)="takeupdatePicture()">
        <ion-icon name="contact" item-left color="primary"></ion-icon>
        上传照片
        <ion-icon class="fa fa-angle-right" item-right color="label"></ion-icon>
      </button>
    <button ion-item (click)="changePassword()">
        <ion-icon name="lock" item-left color="primary"></ion-icon>
        修改密码
        <ion-icon class="fa fa-angle-right" item-right color="label"></ion-icon>
      </button>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item  (click)="ClearCache()">
      <ion-icon name="trash" item-left color="favorite"></ion-icon>
      清理缓存
      <ion-icon class="fa fa-angle-right" item-right color="label"></ion-icon>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item (click)="logout()">
        <ion-icon name="log-out" item-left color="rcbg1"></ion-icon>
        退出系统
        <ion-icon class="fa fa-angle-right" item-right color="label"></ion-icon>
      </button>
  </ion-item-group>
</div>