categorylistcomponent {
    .header-custom {
        font-size: 1.6rem;
        color: color($colors,dark);;
        margin-top:16px;
        margin-bottom: 0px;
        border-bottom: 1px solid #dedede;
    }
    .header-custom:first-child {
        margin-top:0px;
    }
    .list + ion-list ion-list-header {
        margin-top: 0px;
    }
    h2 {
        color: color($colors,blackdark);
    }
    .icon-Big {
        font-size:30px;
    }
}