.vscode/
node_modules/
platforms/
plugins/
www/
npm-debug.log
src.rar
buildconfig/xygddoht_res/drawable-land-hdpi/Thumbs.db
buildconfig/xygddoht_res/drawable-land-ldpi/Thumbs.db
buildconfig/xygddoht_res/drawable-land-mdpi/Thumbs.db
buildconfig/xygddoht_res/drawable-land-xhdpi/Thumbs.db
buildconfig/xygddoht_res/drawable-port-hdpi/Thumbs.db
buildconfig/xygddoht_res/drawable-port-ldpi/Thumbs.db
buildconfig/xygddoht_res/drawable-port-mdpi/Thumbs.db
buildconfig/xygddoht_res/drawable-port-xhdpi/Thumbs.db
buildconfig/xygddoht_res/mipmap-ldpi/Thumbs.db
buildconfig/xygddoht_res/mipmap-hdpi/Thumbs.db
buildconfig/xygddoht_res/mipmap-mdpi/Thumbs.db
buildconfig/xygddoht_res/mipmap-xhdpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-land-hdpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-land-ldpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-land-mdpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-land-xhdpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-port-hdpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-port-ldpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-port-mdpi/Thumbs.db
buildconfig/xyjwdoht_res/drawable-port-xhdpi/Thumbs.db
buildconfig/xyjwdoht_res/mipmap-hdpi/Thumbs.db
buildconfig/xyjwdoht_res/mipmap-ldpi/Thumbs.db
buildconfig/xyjwdoht_res/mipmap-mdpi/Thumbs.db
buildconfig/xyjwdoht_res/mipmap-xhdpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-land-hdpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-land-ldpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-land-mdpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-land-xhdpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-port-hdpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-port-ldpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-port-mdpi/Thumbs.db
buildconfig/xyskyoht_res/drawable-port-xhdpi/Thumbs.db
buildconfig/xyskyoht_res/mipmap-hdpi/Thumbs.db
buildconfig/xyskyoht_res/mipmap-ldpi/Thumbs.db
buildconfig/xyskyoht_res/mipmap-mdpi/Thumbs.db
buildconfig/xyskyoht_res/mipmap-xhdpi/Thumbs.db
buildconfig/xyskyoht_res/.DS_Store
buildconfig/xyjwdoht_res/.DS_Store
buildconfig/src/assets/img/xygddoht/Thumbs.db
buildconfig/xygddoht_res/.DS_Store
buildconfig/xygddoht_res/values/strings.xml
buildconfig/xygddoht_res/xml/config.xml
buildconfig/xyjwdoht_res/values/strings.xml
buildconfig/xyjwdoht_res/xml/config.xml
buildconfig/xyskyoht_res/values/strings.xml
buildconfig/xyskyoht_res/xml/config.xml
resources