contactor-detail{  
    .round-button{
      margin: 0 auto 5px auto;
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 24px;
      box-shadow: 0 0 5px rgba(56, 56, 56, 0.7);
    }
    ul.rating li {
      color: #ff3;
    }
    .item-img img {
      margin:0 auto 5px auto;
      width: 80px;
      height: 80px;
    } 
    .contactor {
      background: url(../assets/img/contactsbg.png) #387ef5;
      background-size:100% 100%;
    }
    .contactor h2,
    .contactor p {
      color: white;
      text-shadow: 0 1px 1px #999;
    }    
  }
  