<ion-item>
  <personpicorname item-start [PersonName]="CreaterName" [PersonPicurl]="CreaterPicurl"> </personpicorname>
  <namedatephonecomponent item-start [PersonName]="CreaterName" [Description]="CreateDate" [PhoneNo]="PhoneNo"></namedatephonecomponent>
  <img *ngIf="ThumbPicurl.indexOf('/contents/d')==-1" [src]="ThumbPicurl" alt="图" (click)="picClick()">
  <button ion-button icon-only clear color="label" (click)="presentPopover($event)" item-end>
    <ion-icon name="more"></ion-icon>
  </button>
</ion-item>