eventtaskedititem {
    
    .nowrap {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        margin-top:0px;
    }
    .note-custom {
        max-width:70%;
    }
}