calcchart {
    #content-top {
        .scroll-content {
            margin-top:22px !important;
        }
    }
    .button-foot {
        height: 3.6rem;
        margin: 0px;
        max-height: 3.6rem;
    }
}