mediatoolboxcomponent {
    .imagesize {
        max-height:80px;
        max-width:80px;
        border: 1px solid #dcdcdc;
        padding: 2px;
        border-radius: 10px;        
      }
     .row-custom {
        margin:3px;
     }
     .icon-Big {
         font-size: 40px;
     }
}