eventdetailitemofficenote {
    .card-content-custom {
        background-color: white;
        padding-left: 16px;
    }
    .card-title-custom {
        font-size: 1.6rem; 
        margin-bottom: 0px;
        margin-top: 8px;  
        border-bottom: 1px #dedede solid;   
    }    
}