<ion-card-content no-padding margin-left margin-bottom>
  <ion-card-title text-wrap>
    {{shortdesc.displayValue}}
  </ion-card-title>
  <p class="viewdetail">
    {{ProjectName.label}}： {{ProjectName.displayValue}}
  </p>
  <p class="viewdetail"> {{OrganizatoinName.label}}： {{OrganizatoinName.displayValue}}
  </p>
  <p class="viewdetail"> {{AssignToName.label}}：{{AssignToName.displayValue|TrimStr:','}}
  </p>
  <p class="viewdetail"> {{CategoryName.label}}：{{CategoryName.displayValue}}
  </p>
  <p class="viewdetail"> {{PriorityName.label}}：{{PriorityName.displayValue}}
  </p>
  <p class="viewdetail"> {{StatusName.label}}： {{StatusName.displayValue}}
  </p>
</ion-card-content>